html, body 
  height 100%
  margin 0
  padding 0
  max-width 100%
  font-size 16px
  font-family: 'Open Sans', sans-serif;


#wrapper
	background #fff
	margin 0 auto
	max-width 1000px
	position relative
	box-shadow 0 0 5px #B1B1B1

nav
	background #f03880
	padding 0.1em

	li
		display inline-block

	a
		color white
		padding 0.5em
		text-decoration none
		-webkit-transition:.4s;
	a:hover
		background #a20162
			